<div class="row">
    <div class="col-md-10" id="containerTabuleiro"></div>
    <div class="col-md-2" id="placar">
        <h4>
            Melhor Score: <label id="bestScore"></label>
        </h4>
        <h4>
            Score Atual: <label id="scoreAtual"></label>
        </h4>
    </div>
</div>