body {
    padding-top: 50px;
    padding-bottom: 20px;
    background:linear-gradient(to right,#808080,#eceef7);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.tableCustom {
    width:80%;
    border:3px solid #eceef7;
    /*background-image:url(/Content/Img/grama.gif);*/
    background-repeat:no-repeat;
    background-size:100%;

}
.tableCustom tr {
    height:80px;
}
.tableCustom tr td{
    border-radius:20px;
    padding:10px;
    border:5px groove #eceef7;
}
.colorSnake {
    background: linear-gradient(to right, black, red);
    /*background-image:url(/Content/Img/cobra.jpg);
    max-width:80px;
    width:auto;*/

}
.colorComida {
    background-image:url(/Content/Img/mouse.gif);
    background-size:80px;
}
.colorHead {
    background-color:rgb(255, 0, 0);
    max-width:80px;
    width:auto;
}
#placar {
    border: 5px solid #eceef7;
}
.colorAlimentacao {
    background:linear-gradient(to right, #fff,#f84e17);
}